/* Custom styles for Bootstrap navbar */
.nav-link {
  color: #fff !important; /* Override the default link color */
}

.nav-link:hover {
  color: #ccd3da !important; /* Lighter shade on hover */
}

/* FontAwesome icon size adjustment */
.fa-icons {
  font-size: 1.2em; /* Adjust icon size */
}

/* navbar.css */
.custom-navbar {
  background-color:#039c15!important; /* Light green background */
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2); /* Add shadow for depth */
}
